*,
*::before,
*::after{
    padding:0;
    margin: 0;
    box-sizing:border-box;
}
/*editando navegador*/
.padreDeNavbar{
    display: flex;
    justify-content: end;
    width: 100%;
    position: absolute;
    margin-top: 19px
}

.listaDeLinks{
    list-style-type:none;
    display: flex;
    align-items: center;
    gap:30px;
}

.listaDeLinks li:nth-child(6){
    margin-right: 30px;
}

.linkNavBar{
    position: relative;
    text-decoration: none;
    color: #e2dede;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-family: "Rubik", sans-serif ;
    font-optical-sizing: auto;
    font-weight:500;
}

.linkNavBar:after{
    content: "";
    position: absolute;
    background-color: #E29C3B;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -4px;
    transition: 0.8s;
}

.linkNavBar:hover{
    color: whitesmoke;
    transition: 0.6s;
}

.linkNavBar:hover:after{
    width: 100%;
}