.contenedorLogo{
    width: 150px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.textoLogo{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #e2dede;
    font-family: "Oswald", sans-serif;
}

span{
    color: #E29C3B;
}

/*media*/
@media (max-width:1100px) and (min-width:800px) {
    .textoLogo{
        font-size: 40px;
    }
}

@media (max-width:800px) and (min-width:300px) {
    .textoLogo{
        font-size: 40px;
    }
}