.imagenDeMain{
    height: 100%;
    width: 100%;
}

.cardDeImagenMain {
    border: 1px solid  #1a1d284a;
    width: 450px;
    height: 280px;
    background-color:  #2a2e40;
    box-shadow: 15px 15px 30px   #202331,-15px -15px 30px   #2a2e40 ;
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.cardDeImagenMain:hover {
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    transform: scale(1.05);
}

/*media*/
@media (max-width:1200px) and (min-width:800px) {
    .cardDeImagenMain {
        width: 400px;
        height: 260px;
    }
}

@media (max-width:950px) and (min-width:600px) {
    .cardDeImagenMain {
        width: 480px;
        height: 350px;
    }
}

@media (max-width:600px) and (min-width:300px) {
    .cardDeImagenMain {
        width: 320px;
        height: 450px;
    }
}



