.contenedorDeTextoMain{
    color:  #e2dede;
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 130px;
}

/*texto de main*/
.encabezadoDeMain{
    width: 400px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight:800;
    font-style: normal;
}

.textoDeMain{
    width: 500px;
    height: 90px;
    margin-top: 15px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
}

.padreEnlacePdf{
    font-family: "Oswald", sans-serif;
    appearance: none;
    letter-spacing: 1.3px;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    padding: 5px;
    margin-left: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    transition: all .15s ease;
    width: 130px;
}

.padreEnlacePdf a{
    text-decoration: none;
}

/*boton estilos*/
.button::before,
.button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
}

.button::before {
    top: 0;
    border-bottom-width: 0;
}

.button::after {
    bottom: 0;
    border-top-width: 0;
}

.button:active,
.button:focus {
    outline: none;
}

.button:active::before,
.button:active::after {
    right: 3px;
    left: 3px;
}

.button:active::before {
    top: 3px;
}

.button:active::after {
    bottom: 3px;
}

.button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #e2dede;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
}

.button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
}

.button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #E29C3B;
    transform: skew(-15deg);
    transition: all .2s ease;
}

.button_text {
    position: relative;
}

.button:hover {
    color: #0f1923;
}

.button:hover .button_sl {
    width: calc(100% + 15px);
}

.button:hover .button_lg::after {
    background-color: #fff;
}



