.padreDelFooter{
    position: absolute;
    width: 100%;
    background-color:#30323e;
}

.seccionDeLinksFooter{
    height: 300px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows:100px 150px;
    grid-template-columns: 200px 200px 60px;
}

.telefono{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: aliceblue;
}

.telefono i{
    font-size: 20px;
    margin-bottom: 20px;
}

.divisor{
    height: 1px;
    background-color:#2b2c37;
    width: 100%;
}

.telefono p{
    font-size: 20px;
    margin-bottom: 20px;
}


@media (max-width:800px) and (min-width:500px) {
    .seccionDeLinksFooter{
        height: 350px;
        grid-template-rows:100px 150px;
        grid-template-columns: 180px 180px 60px;
    }

    .telefono{
        margin-right: 20px;
        gap: 7px;
    }
}

@media (max-width:500px) and (min-width:400px) {
    .seccionDeLinksFooter{
        height: 450px;
        grid-template-rows:100px 150px 150px;
        grid-template-columns: 130px 75px;
    }

    .telefono{
        gap: 10px;
    }
}
