
.wrapper{
    padding: 20px 10%;
}

.padreLinksPaginas{
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    height: 400px;
    width: 570px;
}

.box img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: 0.5s;
}

.overlay{
    height: 0;
    width: 100%;
    background: linear-gradient( #1c1c1c00,#1c1c1c 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding: 0 140px;
    text-align: center;
    font-size: 12px;
    transition: height 0.5s;
    color: #fff;
}

.overlay h3{
    font-weight: 500;
    width: 300px;
    margin-bottom: 10px;
    margin-top: 90%;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
}

.overlay p{
    width: 500px;
    font-family: "Rubik", sans-serif;
}

.overlay a{
    color: #262626;
    text-decoration: none;
    font-size: 14px;
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px;
    margin-bottom: 35px;
}

.box:hover img{
    transform: scale(1.05);
}

.box:hover .overlay{
    height: 100%;
}

/*card botton*/
.botonDeLinks {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(55, 55, 55);
}

/* text */
.textDePaginas {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 12px;
    font-weight: 600;
    transition-duration: .3s;
}

  /* hover effect on button width */
.botonDeLinks:hover {
    width:95px;
    border-radius: 40px;
    transition-duration: .3s;
}

.botonDeLinks:hover .sign {
    width: 20%;
    transition-duration: .3s;
    padding-left: 19px;
}
  /* hover effect button's text */
.botonDeLinks:hover .textDePaginas {
    opacity: 1;
    width: 60%;
    transition-duration: .3s;
    padding-right: 10px;
}
/* button click effect*/
.botonDeLinks:active {
    transform: translate(2px ,2px);
}

.webPaginaIcono{
    color: #3098ed;
    font-size: 18px;
    text-align: center;
}

.codigoPaginaIcono{
    color: #56dc90;
    text-align: center;
}

@media (max-width:640px) and (min-width:540px) {
    .box{
        height: 300px;
        width: 470px;
    }

    .padreLinksPaginas{
        margin: 15px 0 0 0;
    }

    .overlay{
        background: linear-gradient( #1c1c1c00,#1c1c1c 50%);
    }

    .overlay p{
        width: 400px;
        font-size: 11px;
    }

    .overlay h3{
        margin-bottom: 10px;
        font-size: 23px;
        margin-top: 100%;
    }

    .overlay a{
        border-radius: 50px;
        padding: 0px 11px;
        font-size: 13px;
        margin-bottom: 37px;
    }

    .botonDeLinks {
        width: 30px;
        height: 30px;
    }

    .webPaginaIcono{
        font-size: 16px;
    }
}

@media (max-width:540px) and (min-width:400px) {
    .box{
        height: 240px;
        width: 360px;
    }

    .padreLinksPaginas{
        margin: 15px 0 0 0;
    }

    .overlay{
        background: linear-gradient( #1c1c1c00,#1c1c1c 40%);
    }

    .overlay p{
        width: 330px;
        font-size: 10px;
    }

    .overlay h3{
        margin-bottom: 10px;
        font-size: 23px;
        margin-top: 160%;
    }

    .overlay a{
        border-radius: 50px;
        padding: 0px 11px;
        font-size: 13px;
        margin-bottom: 45px;
    }

    .botonDeLinks {
        width: 30px;
        height: 30px;
    }

    .webPaginaIcono{
        font-size: 16px;
    }
}