.padreDeCertificados{
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-margin-top: 8ex;
}

.padreDeCertificados h2{
    color:  #ffffff;
    font-size: 30px;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 50px;
    font-family: "Oswald", sans-serif;
}

.dividerDeCetificado{
    height: 3px;
    width: 90px;
    background-color:  #E29C3B;
    margin: 10px 75px 0 0;
}

.contenedorDeCertificados{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns:750px;
    grid-template-rows: 400px;
    gap:400px;
    padding-top: 200px;
}

/*media*/
@media (max-width:850px) and (min-width:650px) {
    .contenedorDeCertificados{
        grid-template-columns:580px;
        grid-template-rows: 400px;
        gap:200px;
        padding-top: 130px;
    }
}

@media (max-width:650px) and (min-width:500px) {
    .contenedorDeCertificados{
        grid-template-columns:470px;
        grid-template-rows: 400px;
        gap:100px;
        padding-top: 100px;
    }

    .padreDeCertificados h2{
        font-size: 26px;
    }

    .dividerDeCetificado{
        margin: 10px 59px 0 0;
    }
}

@media (max-width:500px) and (min-width:360px) {
    .contenedorDeCertificados{
        grid-template-columns:345px;
        grid-template-rows: 400px;
        gap:100px;
        padding-top: 100px;
    }
}