html{
    scroll-behavior: smooth;
}

.contenedorDeMain{
    background-color:  #2a2e40;
    width: 100%;
}

.seccion1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    margin-bottom: 135px;
    height: 500px;
    gap: 150px;
}

.seccion2{
    background-color: #30323e;
    height: 2700px;
}

.seccion3{
    width: 100%;
    background-color: #2a2e40;
}

.seccion4{
    width: 100%;
    height: 1200px;
    background-color:#30323e;
}

.seccion5{
    height: 1300px;
    background-color:   #2a2e40;
}

/*media*/
/*seccion 1*/
@media (max-width:1200px) and (min-width:950px) {
    .seccion1{
        gap: 100px;
    }
}

@media (max-width:950px) and (min-width:600px) {
    .seccion1{
        display: flex;
        flex-direction: column;
        height: 700px;
        gap: 100px;
    }
}

@media (max-width:600px) and (min-width:300px) {
    .seccion1{
        display: flex;
        flex-direction: column;
        height: 700px;
        gap: 100px;
    }
}

/*seccion 2*/
@media (max-width:850px) and (min-width:650px) {
    .seccion2{
        height: 2000px;
    }
}

@media (max-width:650px) and (min-width:500px) {
    .seccion2{
        height: 1600px;
    }
}

@media (max-width:500px) and (min-width:360px) {
    .seccion2{
        height: 1600px;
    }
}

/*seccion 4*/
@media (max-width:550px) and (min-width:400px) {
    .seccion4{
        height: 1450px;
    }
}

/*seccion 5*/
@media (max-width:1200px) and (min-width:640px) {
    .seccion5{
        height: 1800px;
    }
}

@media (max-width:640px) and (min-width:540px) {
    .seccion5{
        height: 1550px;
    }
}