html{
    scroll-behavior: smooth;
}

.contenedorDeMain{
    background-color:  #2a2e40;
    width: 100%;
}

.seccion1{
    display: flex;
    align-items: center;
    padding-top: 120px;
    margin-bottom: 135px;
    height: 500px;
    gap: 50px;
}

.seccion2{
    background-color: #30323e;
    height: 2700px;
}

.seccion3{
    width: 100%;
    background-color: #2a2e40;
}

.seccion4{
    width: 100%;
    height: 1200px;
    background-color:#30323e;
}

.seccion5{
    background-color:   #2a2e40;
}