.card{
    position: relative;
    width: 750px;
    height: 500px;
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h3{
    font-family: "Oswald", sans-serif;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background:  #272c43;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.primertTexto{
    margin-top: 30px;
}

.segundotTexto{
    margin-top: 20px;
}

.tercertTexto{
    margin-top: 20px;
}

.circulo{
    padding-right: 10px;
    padding-top: 12px;
    color:  #E29C3B;
}

.contenedorTextosCertificados{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .back p{
    display: flex;
    align-items: start;
    letter-spacing: 1px;
    text-align: start;
    padding-top: 40px;
    width: 600px;
    font-family: "Rubik", sans-serif;
}

.card:hover .front{
    transform: perspective(600px) rotatey(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotatey(360deg);
}

/*media*/
@media (max-width:850px) and (min-width:650px) {
    .card{
        width: 580px;
        height: 380px;
    }

    .card .back p{
        font-size: 12px;
        padding-top: 30px;
        width: 500px;
    }

    .circulo{
        padding-top: 8px;
    }
}

@media (max-width:650px) and (min-width:500px) {
    .card{
        width: 470px;
        height: 300px;
    }

    .card .back p{
        font-size: 10px;
        padding-top: 10px;
        width: 400px;
    }

    .circulo{
        padding-top: 7px;
    }
}

@media (max-width:500px) and (min-width:400px) {
    .card{
        width: 370px;
        height: 250px;
    }

    .card .back p{
        font-size: 9px;
        padding-top: 0px;
        width: 300px;
    }

    .circulo{
        padding-top: 6px;
    }
}